themes {
  catppuccin {
    bg "#2B3848" // Surface2
    fg "#2B3848"
    red "#2B3848"
    green "#7DB6FF"
    blue "#2B3848"
    yellow "#2B3848"
    magenta "#7DB6FF" // Pink
    orange "#7DB6FF" // Peach
    cyan "#7DB6FF" // Sky
    black "#0D1116" // Mantle
    white "#2B3848"
  }
  catppuccin-mocha {
    bg "#585b70" 
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" 
    orange "#fab387" 
    cyan "#89dceb" 
    black "#181825" 
    white "#cdd6f4"
  }
}

